{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="tabs"></div>
    <div id="container">
        <div id="loading" style="display: none"></div>
        <div id="content" style="display: none"></div>
    </div>
{% endblock %}

{% block additional_js %}
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/render.js' %}"></script>
    <script src="{% static 'js/cookies.js' %}"></script>
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

